
html body a, #SIvCob a, .ayzqOc {
    color: #b1d237 !important;
}

#SIvCob, .GOE98c, .t2vtad {
    color: #bdc1c6 !important;
}

html body, .xpdopen, #pTwnEc, #hdtb-msb, .e9EfHf, .e9EfHf, .sfbg, .gb_oa, .gb_Mc, .c93Gbe, .tF2Cxc {
    background: #111d29 !important;
    background-color: #111d29 !important;
}
.uU7dJb {
    border-top: 1px solid #3c4043;
}

